*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	background-color: #ABABAB;
	
}
/*--------------------------------------Navigation Bar---------------------------------*/
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar{
	background-image: url(images/bg1.jpg);
	padding: 0 !important;
}
.navbar-brand img{
	height: 40px;
	padding-left: 30px;
	
}

.navbar-nav a:hover{
	background-color: #610480;
	transition: 0.5s;
	
}

.navbar-nav li{
	padding: 0 10px;
	
}


.navbar-nav li a{
	padding: 0 10px;
	color: #fff !important;
	font-weight: 600;
	float: right;
	text-align: left;
}

.fa-bars{
	color: #fff;
	font-size: 30px !important;
}

.navbar-toggler{
	outline: none !important;
}

/*----------------------------Banner section----------------------------*/


#banner{
    background-image: url(images/gb.jpg);
	color: #fff;
	padding-top: 5%;
	background-size: cover;
}

.promo-title{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
}

.play-btn{
	
	width: 45px;
	margin: 20px;
	
}

#banner a{
	color: #fff;
	text-decoration: none;
}
#banner a:hover{
	padding: 5px;
}

#services{
	padding: 80px 0;	
}

.services{
	padding: 20px;
	
}

.services h4{
	padding: 5px;
	margin-top: 25px;
	text-transform: uppercase;
	
}



.title::before{
	content: '';
	background: #7b1798;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
	
}

.title::after{
	content: '';
	background: #7b1798;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
	
}
/*---------------------------Services section--------------------------------*/
#services .btn-primary{
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	border-radius: 29px;
	background-image: linear-gradient(to right, #a517ba,#5f1782);
	
}

.service-img{
	width: 100px;
	margin-top: 20px
}

/*-----------------------------About Us----------------------------------------*/
#about-us{
	background: #f8f9fa;
	padding-bottom: 50px;
}

.about-title{
	font-size: 50px;
	font-weight: 700;
	margin-top: 10%
}

#about-us ul li{
	margin: 10px 0;
	
}

#about-us ul{
	margin-left: 15px;
}
.img-fluid{
	width: 300px;
	height: 200px;
	padding-right: 8px;
	float: right;
}
.img-fluids{
	width: 500px;
	height: 350px;
}
/*--------------------------Testimonials section-----------------------------------*/

#testimonials{
	margin: 100px 0;
	
}

.testimonials{
	border-left: 4px solid #7b1798;
	margin-top: 50px;
	margin-bottom: 50px;
}

.testimonials img{
	height: 60px;
	width: 60px;
	border-radius: 50px;
	margin: 0 10px;
}

.user-details{
	display: inline-block;
	font-size: 12px;
	
}

/*-------------------------------Social media section--------------------------------------*/
#social-media{
	background: #f8f9fa;
	padding: 100px 0;	
}

#social-media p{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

.social-icons img{
	width: 35px;
	transition: 0.5s;
	
}
.social-icons a:hover img{
	transform: translateY(-10px);
	
}
/*-----------------------------footer section------------------------------------------*/
 
#footer{
	background-image: url(images/b.jpg);
	
	color: #fff;
	background-size: cover;
	
}
.footer-box{
	padding: 20px;
}
.footer-box img{
	width: 120px;
	margin-bottom: 20px;
}
.footer-box .fa{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 10px;
	background-image:  linear-gradient(to right, #a517ba,#5f1782);
}
.footer-box .form-control{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 250px;		
}

.footer-box .btn-primary{
	box-shadow: none !important;
	border: none;
	border-radius: 5px;
	margin-top: 30px;
	background-image:  linear-gradient(to right, #a517ba,#5f1782);
}

hr{
	background-color: #fff;
	
}
.copyright{
	margin-bottom: 0;
	padding-bottom: 20;
	text-align: center;
	
	
}

